<nav class="flex justify-around items-center p-4 w-full border sticky">
    <div class="flex items-center">
        <a href="/" class="flex items-center">
            <img src="/images/logo.png" alt="PenNet" class="rounded-full"></img>
            <div class="text-2xl font-bold ml-4">PenNet</div>
        </a>
    </div>
    <div class="border w-1/3 h-10 flex pl-3 items-center">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="ml-4 text-gray-500 focus:border-none focus:outline-none flex-grow" type="text"
            placeholder="Search"></input>
    </div>
    <div class="flex items-center cursor-pointer border rounded ">
        <div class="relative">
            <button id="dropdown" class="flex items-center rounded-md focus:outline-none p-2 pl-4 pr-4">
                <div class="mr-4">Setting</div>
                <i class="fa-solid fa-gear"></i>
            </button>
            <div id="items" class="absolute right-0 hidden  w-48 
                    bg-white border rounded-xl shadow-lg 
                    group-hover:block ">
                <a href="#" id="darkmode" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
                    <div class="flex items-center">
                        <i class="fa-solid fa-moon"></i>
                        <div class="ml-2"><span>Dark Mode</span></div>
                    </div>
                </a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
                    <div class="flex items-center">
                        <i class="fa-solid fa-ban"></i>
                        <div class="ml-2">Block list</div>
                    </div>
                </a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
                    <div class="flex items-center">
                        <i class="fa-solid fa-shield-halved"></i>
                        <div class="ml-2">Edit privacy</div>
                    </div>
                </a>
                <a href="#" id="notification" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
                    <div class="flex items-center">
                        <i class="fa-solid fa-bell"></i>
                        <div class="ml-2">Notification</div>
                    </div>
                </a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
                    <div class="flex items-center">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <div class="ml-2">Logout</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
<style>

    body.dark-mode {
         background-color: #1a1919;
        color: #999;
    }

    body.light-mode {
        background-color: #fff;
        color: #333;
    }
</style>
<script>
    $(document).ready(() => {
        $('#dropdown').on('click', () => {
            $('#items').toggleClass('hidden');
        });

        const body = $('body'); // Lấy thẻ body
        // Kiểm tra trạng thái lưu trữ trong localStorage
        const darkModeEnabled = localStorage.getItem('darkMode') === 'true';
        if (darkModeEnabled) {
            body.addClass('dark-mode').removeClass('light-mode');
            $('#darkmode i').removeClass('fa-moon').addClass('fa-sun');
            $('#darkmode span').html('Light Mode');
        } else {
            body.addClass('light-mode').removeClass('dark-mode');
        }
        $('#darkmode').on('click', function(e) {
            e.preventDefault();
            if ($('#darkmode i').hasClass('fa-moon')) {
                // đang là light mode -> chuyển sang dark mode
                body.removeClass('light-mode').addClass('dark-mode');
                $('#darkmode i').removeClass('fa-moon');
                $('#darkmode i').addClass('fa-sun');
                $(this).find('span').html('Light Mode');
                localStorage.setItem('darkMode', 'true'); // Lưu trạng thái
            }
            else {
                // đang là dark mode -> chuyển sang light mode
                body.removeClass('dark-mode').addClass('light-mode');
                $('#darkmode i').removeClass('fa-sun');
                $('#darkmode i').addClass('fa-moon');
                $(this).find('span').html('Dark Mode');
                localStorage.setItem('darkMode', 'false'); // Lưu trạng thái
            }
        });

        $('#notification').on('click', (e) => {
            e.preventDefault();
            if ($('#notification i').hasClass('fa-bell')) {
                // bật -> tắt
                $('#notification i').removeClass('fa-bell');
                $('#notification i').addClass('fa-bell-slash');
            }
            else {
                // tắt -> bật
                $('#notification i').removeClass('fa-bell-slash');
                $('#notification i').addClass('fa-bell');
            }
        });
    })


</script>