<body class="bg-[#FAFBFF] flex justify-center items-center m-0 flex-col">
    <!-- Logo and Title above the container -->
    {{> logoLogin}}

    <div class="w-[384px] h-[309px] bg-white border border-[#ECF0F5] shadow-sm rounded-lg p-6 box-border text-center mt-[80px]">
        
        <img src="images/Check.png" alt="Google icon" class="mt-[40px] ml-[150px] w-8 h-8">

        <a class="block mt-8 text-[16px] text-[#0C1024] no-underline">Check your inbox!</a>
        <a class="block mt-8 text-[16px] text-[#5D6778] no-underline">Simply open your inbox and click the link to access your account. No passwords required!</a>
    </div>
</body>