<body class="bg-[#FAFBFF] flex justify-center items-center m-0 flex-col">
    <!-- Logo and Title above the container -->
    {{> logoLogin}}

    <div class="w-[384px] h-[421px] bg-white border border-[#ECF0F5] shadow-sm rounded-lg p-6 box-border text-center mt-[80px]">
        <a class="block mt-8 text-[16px] text-[#0C1024] no-underline">Enter verification</a>
        <a class="block mt-8 text-[16px] text-[#0C1024] no-underline">Code sent to anorouzi.work@gmail.com</a>
        
        <input type="Email" class="mt-8 w-full p-3 border border-[#ECF0F5] rounded-md box-border text-[14px] text-[#707988]">
        
        <button class="w-full p-3 text-[16px] text-white bg-gradient-to-r from-[#AD49E1] to-[#873DEC] h-[44px] font-bold rounded-md cursor-pointer mt-8 border-none">Verify</button>
    </div>
</body>