<body class="bg-[#FAFBFF] flex justify-center items-center m-0 flex-col">
    <!-- Logo and Title above the container -->
    {{> logoLogin}}

    <div class="w-[384px]  min-h-[200px] bg-white border border-[#ECF0F5] shadow-sm rounded-lg p-6 box-border text-center mt-[80px]">
        <h2 class="text-2xl font-semibold text-[#4B5669] mb-5">Forgot password</h2>
        
        <input type="email" class="mt-8 w-full p-3 border border-[#ECF0F5] rounded-md box-border text-[14px] text-[#707988]" placeholder="Email">
        
        <button class="w-full p-3 text-[16px] text-white bg-gradient-to-r from-[#AD49E1] to-[#873DEC] h-[44px] font-bold rounded-md cursor-pointer mt-8 border-none">Send reset token</button>
    </div>
</body>