{{> header}}
<div class="m-10 flex">
    <!-- SideMenu -->
    <div class="mr-6 min-w-[16rem] w-64 flex-shrink-0 flex flex-col">
        <div>
            {{> sideMenu user=user}}
        </div>
        <div class="mt-4">
            {{> groups user=user}}
        </div>
    </div>

    <div class="flex-grow w-1/2 mr-6 flex flex-col">
        <form id="post-form" action="/posts" method="POST" class="w-full p-4 mb-8 rounded-lg flex flex-col bg-violet-200"> 
            <div class="flex items-center mb-4 data-send">
                <img class="h-16 w-16 rounded-full ml-4 mr-4" 
                src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/avatar.png{{/if}}" 
                alt="user-avatar"
                />
                <textarea 
                name="content"
                class="flex-grow bg-inherit placeholder-gray-700 outline-none flex-warp mr-8 
                overflow-auto resize-none scroll-custom" 
                placeholder="What 's on your mind?"
                ></textarea>
            </div>
            <div class="flex justify-around">
                <label for="image-upload" class="cursor-pointer flex items-center">
                <i class="fa-solid fa-image mr-2"></i>
                Add Media
                </label>
                <input type="file" id="image-upload" name="images" accept="image/*" class="hidden" multiple>
                <button type="submit" class="rounded-xl pl-4 pr-4 pt-0.5 pb-0.5 bg-violet-700 text-white">
                Post
                </button>
            </div>
        </form>

            <div class="posts-container">
                {{#each posts}}
                    {{> post post=this user=../user}}
                {{/each}}
            </div>

            <div class="flex justify-center mt-4" id="Paging">
                <p class="hidden">1</p>
                <button id="load-more" class="rounded-xl pl-4 pr-4 pt-0.5 pb-0.5 bg-blue-700 text-white">
                Load More
                </button>
            </div>

    </div>
    
    {{> suggestedFriends user=suggestedFriends}}
</div>
<script src="/js/home.js"></script>
<script src="/js/handleUploadPost.js"></script>
<script src="/js/postActions.js"></script>

