{{> header}}
<div class="m-10 flex">
    <!-- SideMenu -->
    <div class="mr-6 flex-shrink-0 flex flex-col">
        <div>
            {{> sideMenu user=user}}
        </div>
    </div>

    <div class="flex-grow w-1/2 mr-6 flex flex-col">
        <form id="post-form" action="/posts" method="POST" class="w-full p-4 mb-8 rounded-lg flex flex-col bg-violet-200"> 
            <div class="flex items-center mb-4 data-send">
                <img class="h-16 w-16 rounded-full ml-4 mr-4" 
                src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/avatar.png{{/if}}" 
                alt="user-avatar"
                />
                <textarea 
                name="content"
                class="flex-grow bg-inherit placeholder-gray-700 outline-none flex-warp mr-8 
                overflow-auto resize-none scroll-custom" 
                placeholder="What 's on your mind?"
                ></textarea>
                <div class="flex self-start">
                    <select id="access_modifier" name="access_modifier" 
                        class="w-full rounded-md bg-inherit outline-none cursor-pointer"
                    >
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="friends_only">Friends Only</option>
                    </select>
                </div>
            </div>
            <div class="flex justify-around">
                <label for="image-upload" class="cursor-pointer flex items-center">
                <i class="fa-solid fa-image mr-2"></i>
                Add Media
                </label>
                <input type="file" id="image-upload" name="images" accept="image/*" class="hidden" multiple>
                <button type="submit" class="rounded-xl pl-4 pr-4 pt-0.5 pb-0.5 bg-violet-700 text-white">
                Post
                </button>
            </div>
        </form>

            <div class="posts-container">
                {{#each posts}}
                    {{> post post=this user=../user}}
                {{/each}}
            </div>

            <div class="flex justify-center mt-4" id="Paging">
                <p class="hidden">1</p>
                {{!-- <button id="load-more" class="rounded-xl pl-4 pr-4 pt-0.5 pb-0.5 bg-blue-700 text-white">
                Load More
                </button> --}}

                <button id="load-more" class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 w-46 p-3 text-[16px] bg-gradient-to-r from-[#AD49E1] to-[#873DEC] h-[44px] font-bold mt-8 border-none border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">Load More</button>
            </div>

    </div>
    
    {{> suggestedFriends user=suggestedFriends}}
</div>
<script src="/js/home.js" type="module"></script>
<script src="/js/handleUploadPost.js" type="module"></script>
<script src="/js/postActions.js" type="module"></script>

