<body class="bg-[#FAFBFF] flex justify-center items-center m-0 flex-col">
    <!-- Logo and Title above the container -->
    {{> logoLogin}}

    <div class="w-[384px] min-h-[580px] bg-white border border-[#ECF0F5] shadow-sm rounded-lg p-8 box-border text-center mt-[40px]">
        <h2 class="text-2xl font-semibold text-[#4B5669] mb-5">Login</h2>
        
        <!-- Input fields -->
        <form action="/users/login" method="POST" class="w-full">
            <input type="text" name="username" class="mt-5 w-full p-3 border border-[#ECF0F5] rounded-md box-border text-[14px] text-[#707988]" placeholder="Username" required>
            <input type="password" name="password" class="mt-5 w-full p-3 border border-[#ECF0F5] rounded-md box-border text-[14px] text-[#707988]" placeholder="Password" required>
            <button type="submit" class="w-full p-3 text-[16px] text-white bg-gradient-to-r from-[#AD49E1] to-[#873DEC] h-[44px] font-bold rounded-md cursor-pointer mt-8 border-none">Log in</button>
        </form>

        <!-- Notification Banner -->
        <div class="w-full p-3 bg-blue-50 border border-blue-200 text-blue-600 rounded-md mt-5 hidden notice">
            <p class="text-sm text-[#4B5669] font-medium"></p>
        </div>

        <!-- OR divider -->
        <div class="flex items-center text-center text-[#5D6778] gap-3 mt-12">
            <div class="w-full h-[1px] bg-[#ECF0F5]"></div>
            <span>OR</span>
            <div class="w-full h-[1px] bg-[#ECF0F5]"></div>
        </div>

        <!-- Social Login Button -->
        <div class="flex justify-center items-center gap-2 w-full h-[44px] border border-[#ECF0F5] rounded-md bg-white text-[#5D6778] text-[14px] cursor-pointer mt-12">
            <img src="/images/google.png" alt="Google icon" class="w-[16px] h-[16px]">
            Login with Google
        </div>

        <!-- Forgot Password -->
        <a href="#" class="block mt-8 ml-[220px] text-[12px] text-[#5D6778] cursor-pointer no-underline">Forgot Password?</a>
        <!-- Sign Up Link -->
        <p class="text-[#5D6778] mt-5">Don't have an account? <a href="/users/signup" class="text-[14px] text-black font-medium no-underline">Sign up</a></p>
    </div>
</body>
<script src="/js/login.js"></script>
