{{> header}}
<div class="m-10 flex">
    <!-- SideMenu -->
    <div class="mr-6 min-w-[16rem] w-64 flex-shrink-0 flex flex-col">
        <div>
            {{> sideMenu user=user}}
        </div>
    </div>

    <div class="flex-grow w-1/2 mr-6 flex flex-col">
    </div>
    
</div>