<body class="bg-[#FAFBFF] flex justify-center items-center m-0 flex-col">
    <!-- Logo and Title above the container -->
    {{> logoLogin}}

    <div class="w-[384px]  min-h-[200px] bg-white border border-[#ECF0F5] shadow-sm rounded-lg p-6 box-border text-center mt-[80px]">
        <h2 class="text-2xl font-semibold text-[#4B5669] mb-5">Reset password</h2>
        <form action="/users/reset-password">
            <label for="token" class="block text-left text-[#4B5669] font-medium mb-2">Token</label>
            <input type="text" id="token" name="token" class="mt-2 w-full p-3 border border-[#ECF0F5] rounded-md box-border text-[14px] text-[#707988]" placeholder="Token" required>
            
            <label for="password" class="block text-left text-[#4B5669] font-medium mb-2 mt-4">New Password</label>
            <input type="password" id="password" name="password" class="mt-2 w-full p-3 border border-[#ECF0F5] rounded-md box-border text-[14px] text-[#707988]" placeholder="New Password" required>
            <button type="submit" class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 w-full p-3 text-[16px] bg-gradient-to-r from-[#AD49E1] to-[#873DEC] h-[44px] font-bold mt-8 border-none border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">Reset Password</button>
        </form>

        <!-- Notification Banner -->
        <div class="w-full p-3 bg-blue-50 border border-blue-200 text-blue-600 rounded-md mt-5 hidden notice">
            <p class="text-sm text-[#4B5669] font-medium"></p>
        </div>

    </div>
</body>
<script src="/js/reset-password.js"></script>