<body class="bg-[#FAFBFF] font-[Inter, sans-serif] flex justify-center items-center m-0 flex-col">
    <!-- Logo and Title above the container -->
    {{> logoLogin}}
    
    <div class="w-[384px] min-h-[500px] bg-white border border-[#ECF0F5] shadow-sm rounded-lg p-8 box-border text-center mt-[30px]">
        <h2 class="text-2xl font-semibold text-[#4B5669] mb-5">Sign Up</h2>
        
        <!-- Form element -->
        <form>
            <!-- Input fields -->
            <input type="text" class="w-full p-2 border border-[#ECF0F5] rounded-md text-sm text-[#707988] mt-5" placeholder="Name">
            <input type="email" class="w-full p-2 border border-[#ECF0F5] rounded-md text-sm text-[#707988] mt-5" placeholder="Email">
            <input type="text" class="w-full p-2 border border-[#ECF0F5] rounded-md text-sm text-[#707988] mt-5" placeholder="Username">
            <input type="password" class="w-full p-2 border border-[#ECF0F5] rounded-md text-sm text-[#707988] mt-5" placeholder="Password">
            
            <!-- Continue Button -->
            <button type="submit" class="w-full p-3 text-white bg-gradient-to-r from-[#AD49E1] to-[#873DEC] h-[44px] font-medium rounded-md cursor-pointer mt-10">
                Continue
            </button>
        </form>

        <!-- Notification Banner -->
        <div class="w-full p-3 bg-blue-50 border border-blue-200 text-blue-600 rounded-md mt-5 hidden notice">
            <p class="text-sm text-[#4B5669] font-medium"></p>
        </div>

        <!-- Footer -->
        <div class="text-sm text-[#4B5669] mt-5">
            Have an account? <a href="/users/login" class="text-black font-medium">Login</a>
        </div>
    </div>
</body>
<script src="/js/signup.js"></script>
